extends layout

block content
	h1 Welcome #{user.name}.

	a(href='/signout') Sign Out

	ul#myEleven My Eleven
		each mPlayer in myPlayers.myEleven
			li
				if (mPlayer.visible === true)
					a(href='/player/e/'+mPlayer.player._id) #{mPlayer.player.name}
				else
					a #{mPlayer.player.name}
	ul#myScouting Scouting
		each mPlayer in myPlayers.myScouting
			li
				if (mPlayer.visible === true)
					a(href='/player/s/'+mPlayer.player._id) #{mPlayer.player.name}
				else
					a #{mPlayer.player.name}