extends layout

block content
	h1 Welcome #{user.name}.

	a(href='/signout') Sign Out

	br

	h3 #{myPlayers.teamName}

	ul#myEleven My Eleven
		each mPlayer in myPlayers.myEleven
			li
				if (mPlayer.visible === true)
					a(href='/player/e/'+mPlayer.player._id) #{mPlayer.player.name}
				else
					a #{mPlayer.player.name}
		- var totalPlayers = myPlayers.myEleven.length
		while totalPlayers<myPlayers.monitoringAllowed.myEleven
			li
				a(href='/teams/'+idMyTeam+'/e') Add New Player
				- totalPlayers++;
	ul#myScouting Scouting
		each mPlayer in myPlayers.myScouting
			li
				if (mPlayer.visible === true)
					a(href='/player/s/'+mPlayer.player._id) #{mPlayer.player.name}
				else
					a #{mPlayer.player.name}
		- var totalScouting = myPlayers.myScouting.length
		while totalScouting<myPlayers.monitoringAllowed.myScouting
			li
				a(href='/teams/'+idMyTeam+'/s') Add New Player
				- totalScouting++;