extends layout

block content
	h1 Welcome #{user.name}.

	a(href='/signout') Sign Out

	h3 Player #{player.name}

	img(src="#{player.picture}")

	if (scoreTotal.score === undefined)
		p Not Score
	else
		h3 Score Total
		each scoreT in scoreTotal.score
			p #{scoreT.media} : #{scoreT.value}
		h3 Score Last Match (Match #{scoreLastDay.matchDay})
		each scoreL in scoreLastDay.score
			p #{scoreL.media} : #{scoreL.value}	

	h3 News
	each newData in news
		p #{newData.media.type} | #{newData.media.name}
		a(href=newData.url) #{newData.title}
		

	